﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Kalkulator BMI</h1>
    <form method="post">
        <input type="number" step="0.01" placeholder="waga w kg:" name="waga" id="waga" />
        <input type="number" step="0.01" placeholder="wzrost w cm:" name="wzrost" id="wzrost" />
        <input type="submit" name="oblicz" value="oblicz" />
    </form>
    <br />
    @{
        if (ViewBag.bmi != null)
        {
       
            <p style="font-size:large">Przy wadze: @ViewBag.waga kg i wzroście: @ViewBag.wzrost cm </p>
            <p style="font-size:larger">Twoje BMI wynosi: @Math.Round(ViewBag.bmi, 2)  </p>
            <label>Komentarz:</label>  

            if (ViewBag.bmi <= 18.5)
            {
            <label>Niedowaga</label>
            }
            else if (ViewBag.bmi > 18.5 && ViewBag.bmi <= 25.5)
            {
            <label>Waga prawidłowa</label>
            }
            else if (ViewBag.bmi > 25.5)
            {
            <label>Nadwaga</label>
            }
        
        }


    }
</div>
